* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: DFkai-sb, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

header div.top {
    padding: 1rem;
    background-image: url(./images/background.png);
}

header div.top h1 {
    font-size: 2.5rem;

}

header div.top h3 {
    font-size: 1rem;

}

header nav {
    background-color: black;
}

header nav ul {
    display: flex;
    list-style-type: none;
}

header nav ul li {
    padding: 0.8rem 1.2rem;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

header nav ul li a:hover {
    color: yellow;
}

.active {
    color: yellow;
}

main {
    display: flex;
    flex-wrap: wrap;
}

main.korea-main {
    display: block;
}

main section {
    padding: 1rem;
}

section.left {
    flex: 1 1 200px;
}

section.left img {
    width: 90%;
}

section.left h3 {
    margin-bottom: 1rem;
}

section.left table {
    margin-top: 1rem;
}

section.left table,
tr,
td {
    padding: 0.15rem;

}

section.right {
    flex: 4 1 500px;
}

section.right h3 {
    font-size: 1.5rem;
    padding-top: 0.5rem;

}

section.right p {
    padding: 0.5rem 0rem;
}

section.right ul {
    margin-left: 2rem;
    /* padding-left: 2rem; */
}

main.korea-main section p {
    padding: 1rem 0rem;
}

.player {
    margin: 2rem;
    border: 4px solid burlywood;
    padding: 1rem;
}

.player h4 {
    font-size: 1.5rem;
    color: rgb(0, 90, 91);
}

.player h5 {
    font-size: 1.05rem;
    color: rgb(6, 120, 120);
}

div.japan {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}

div.japan img {
    flex: 1 1 300px;
    max-width: 60vh;
}

div.japan .info {
    flex: 3 1 600px;
    padding: 2rem;
}

div.japan .info p {
    margin: 1rem 0rem;
}

div.competition {
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
}

div.competition .text {
    flex: 5 1 300px;
    padding: 1rem;
}

div.competition .text h3 {
    font-size: 2rem;
    color: rgb(12, 122, 92);
}

div.competition .text p {
    margin: 1rem 0rem;
}

#piechart {
    flex: 1 1 300px;
}

div.china h3 {
    font-size: 2rem;
    color: rgb(12, 122, 92);
}

div.china p {
    padding: 1rem 0rem;

}

section.china-competition {
    padding: 0rem 1rem;
}

section.china-competition h3 {
    font-size: 2rem;
    color: rgb(12, 122, 92);
    padding: 0rem;
}

section.china-competition p {
    padding: 1rem 0rem;
}

section.china-competition table {
    min-width: 1000px;
}

section.china-competition table th {
    background-color: rgb(86, 224, 192);
    color: white;
    text-align: center;
}

section.china-competition table tr,
td {
    padding: 4px 6px;
    border-collapse: collapse;
}

section div.taiwan h3 {
    font-size: 2rem;
    color: rgb(12, 122, 92);
    padding: 0rem;
}

section div.taiwan p {
    padding: 1rem 0rem;
}

section div.taiwan-connection h3 {
    font-size: 2rem;
    color: rgb(12, 122, 92);
    padding: 0rem;
}

section div.taiwan-connection ul {
    padding: 1rem 1rem;
}